<ion-header>
  <meta charset="UTF-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Css -->

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i,700,700i" rel="stylesheet">
  <title>Forms | Tailwind Admin</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">




</ion-header>
<ion-content>
  <!--Container -->
  <div class="mx-auto bg-grey-400">
    <!--Screen-->
    <div class="min-h-screen flex flex-col">
      <!--Header Section Starts Here-->
      <header class="bg-nav">
        <div class="flex justify-between">
          <div class="p-1 mx-3 inline-flex items-center">

            <h1 class="text-white p-2">Combo Taxi </h1>
          </div>


        </div>
      </header>
      <!--/Header-->


        <div class="container">

          <div class="row">
            <div class="col-md-12">
              <h4 class="text-center mb-4"></h4>
              <div class="table-wrap">
                <table class="table" style="width: 5px;" >

                  <thead class="thead-primary">
                    <tr>
                      <tH colspan="3"  style="font-size: 30px;">TABLA DE TARIFAS DE TAXI</tH>

                    </tr>
                    <tr>

                      <th>ITEM</th>
                      <th>No. DE UNIDADES </th>
                      <th>vALOR A PAGAR</th>

                    </tr>
                  </thead>
                  <tbody >
                    <tr>

                      <td >Valor unidad cada 100 metros</td>
                      <td>1</td>
                      <td>$0.20</td>

                    </tr>
                    <tr>

                      <td>Arranque o Banderazo</td>
                      <td>28</td>
                      <td>$0.55</td>

                    </tr>
                    <tr>

                      <td>Valor por cada 24 s de espera</td>
                      <td>1</td>
                      <td>$0.20</td>

                    </tr>
                    <tr>

                      <td>Recargo Nocturno</td>
                      <td>24</td>
                      <td>$0.75</td>

                    </tr>

                    <tr>

                      <td>Carrera Minima</td>
                      <td>50</td>
                      <td>$1.50</td>
                    </tr>

                    <tr>

                      <td>Puerta a Puerta</td>
                      <td>9</td>
                      <td>$3.00</td>
                    </tr>


                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>


    </div>

  </div>
  <script src="./main.js"></script>


</ion-content>
